
header {
	padding: 10px 0;
	font-size: larger;
}

#wrapper {
	margin: auto;
	width: fit-content;
}
#inputField {
	padding: 10px;
	font-size: 16px;
	width: 300px;
}

#listWrapper {
	margin-top: 0px;
	width:fit-content;
}
#itemList {
	margin-top: 0px;
	list-style-type: none;
	padding-left: 0;
	width:300px;
}

#itemList li {
	padding: 5px 0;
	font-size: 18px;
}